@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow: overlay;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

/* || HEADER */ /* || HEADER */ /* || HEADER */
/* || HEADER */ /* || HEADER */ /* || HEADER */
.header {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left__logo {
  width: 3rem;
  margin-right: 1.5rem;
}

.header__left__search,
.header__left__search-res {
  width: 25rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f1f5f9;
}

.header__left__search img,
.header__left__search-res img {
  width: 1rem;
  margin-right: 0.5rem;
}

.header__left__search input,
.header__left__search-res input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right__links a {
  color: #334155;
  font-weight: 600;
  font-size: small;
  position: relative;
  margin-right: 1.5rem;
  text-decoration: none;
}

.header__right__links a::after {
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  position: absolute;
  transform: scaleX(0);
  background-color: #2563eb;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header__right__links a:first-child::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__right__links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__right__profile {
  width: 2.75rem;
  margin-left: 8rem;
  border-radius: 50%;
}

/* || Header Responsive */
@media screen and (max-width: 1000px) {
  .header {
    justify-content: center;
  }
  .header__left__search {
    width: 15.5rem;
  }
  .header__left__logo {
    margin-right: 1rem;
  }
  .header__right__links,
  .header__right__profile {
    display: none;
  }
}

/* || BANNER */ /* || BANNER */ /* || BANNER */
/* || BANNER */ /* || BANNER */ /* || BANNER */
.banner {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}

.banner__text__heading {
  width: 30rem;
  font-size: 3rem;
  color: #334155;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.banner__text__heading span {
  color: #2563eb;
}

.banner__text__para {
  width: 35rem;
  color: #94a3b8;
  margin-bottom: 1.5rem;
}

.banner__text__btn {
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.7rem;
  background-color: #2563eb;
}

.banner__text__btn:hover {
  background-color: #003fc6;
}

.banner__text__links a {
  margin-right: 0.5rem;
}

.banner__text__links a img {
  width: 3rem;
}

.banner__img {
  width: 30rem;
}

/* || Banner Responsive */
@media screen and (max-width: 1200px) {
  .banner__text__heading,
  .banner__text__para {
    width: auto;
  }
  .banner__text__heading {
    font-size: 2.5rem;
  }
  .banner__img {
    width: 25rem;
  }
}
@media screen and (max-width: 1000px) {
  .banner {
    width: 90%;
    margin-top: 3rem;
    flex-direction: column-reverse;
  }
  .banner__text {
    text-align: center;
  }
  .banner__text__heading {
    font-size: 2rem;
  }
  .banner__text__para {
    font-size: small;
  }
  .banner__text__links a img {
    width: 2.5rem;
  }
  .banner__img {
    width: 20rem;
    margin-bottom: 2rem;
  }
}

/* || TESTIMONIALS */ /* || TESTIMONIALS */ /* || TESTIMONIALS */
/* || TESTIMONIALS */ /* || TESTIMONIALS */ /* || TESTIMONIALS */
.testimonials {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  flex-direction: column;
}

.testimonials__heading > a {
  color: #334155;
  font-size: large;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.testimonials__heading > a:first-child {
  margin-right: 1.5rem;
}

.testimonials__heading > a::after {
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  position: absolute;
  transform: scaleX(0);
  background-color: #2563eb;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.testimonials__heading > a:first-child::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.testimonials__heading > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.testimonials__cards {
  width: 80%;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 31%;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.card__stars {
  top: 0.5rem;
  right: 1rem;
  position: absolute;
}

.card__info {
  display: flex;
  align-items: center;
}

.card__info__pic {
  width: 2.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.card__info__name > p:first-child {
  font-size: medium;
  font-weight: 600;
}

.card__info__name > p:last-child {
  font-size: small;
  margin-top: -0.25rem;
}

.card__heading {
  color: #334155;
  margin-top: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.5rem;
}
.card__para {
  color: #334155;
  font-size: small;
  text-align: center;
}

/* || Middle Testimonial Card (start) */
.card__stars.mid > img {
  width: 1.25rem;
}

.card__info__pic.mid {
  width: 3.5rem;
}

.card__info__name.mid > p:first-child {
  font-size: large;
}

.card__info__name.mid > p:last-child {
  font-size: medium;
}

.card__heading.mid {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.card__para.mid {
  font-size: 0.9rem;
}
/* || Middle Testimonial Card (end) */

.testimonial__pagination {
  display: flex;
  align-items: center;
}

.testimonial__pagination > div {
  width: 0.75rem;
  height: 0.75rem;
  transition: 0.2s;
  border-radius: 50%;
  margin-right: 0.75rem;
  background-color: #cbd5e1;
}

.testimonial__pagination > div:hover {
  background-color: #2563eb;
}

.testimonial__pagination > div:nth-child(2) {
  background-color: #2563eb;
}

.testimonial__pagination > div:nth-child(7) {
  margin-right: 0;
}

.testimonial__pagination > img {
  width: 1.7rem;
}

.testimonial__pagination > img:first-child {
  cursor: pointer;
  margin-right: 1rem;
}
.testimonial__pagination > img:last-child {
  cursor: pointer;
  margin-left: 1rem;
}

/* || Testimonials Responsive */
@media screen and (max-width: 1000px) {
  .testimonials {
    margin-top: 4rem;
  }
  .testimonials__cards {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    justify-content: center;
  }
  .card:first-child,
  .card:last-child {
    display: none;
  }
  .card.mid {
    width: 20rem;
  }
  /* || Middle Testimonial Card (start) */
  .card__stars.mid > img {
    width: auto;
  }
  .card__info__pic.mid {
    width: 2.75rem;
  }
  .card__info__name.mid > p:first-child {
    font-size: medium;
  }
  .card__info__name.mid > p:last-child {
    font-size: small;
  }
  .card__heading.mid {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .card__para.mid {
    font-size: small;
  }
  /* || Middle Testimonial Card (end) */
  .testimonial__pagination > div {
    width: 0.5rem;
    height: 0.5rem;
  }
  .testimonial__pagination > img {
    width: 1.5rem;
  }
}

/* || FOOTER */ /* || FOOTER */ /* || FOOTER */
/* || FOOTER */ /* || FOOTER */ /* || FOOTER */
.footer {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.footer > h1 {
  color: #334155;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer__cols {
  display: flex;
  margin-bottom: 1rem;
}

.col {
  display: flex;
  font-size: small;
  margin-right: 10rem;
  flex-direction: column;
}

.col > * {
  margin-bottom: 0.5rem;
}

.col > .div {
  margin-top: 1rem;
}

.col > p {
  color: #334155;
  font-weight: 600;
}

.col > a {
  color: #94a3b8;
  text-decoration: none;
}

.col > a:hover {
  color: #64748b;
}

.div.res,
.div.res ~ * {
  display: none;
}

.footer__line {
  left: 0;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #e2e8f0;
}

.footer__bottom {
  display: flex;
  align-items: center;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}

.footer__bottom > div {
  display: flex;
  align-items: center;
}

.footer__bottom > div > a {
  font-size: small;
  color: #334155;
  font-weight: 500;
  margin-right: 2rem;
  text-decoration: none;
}

.footer__bottom > div > a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .col {
    margin-right: 7rem;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    margin-top: 4rem;
  }
  .footer > h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .footer__cols {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .col {
    margin-right: 3rem;
  }
  .col:nth-child(2) {
    margin-right: 0;
    padding-right: 0;
  }
  .col.res {
    display: none;
  }
  .div.res,
  .div.res ~ * {
    display: block;
  }
  .footer__bottom {
    row-gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0;
    flex-direction: column;
  }
  .footer__bottom > div > a {
    margin-right: 1rem;
  }
  .footer__bottom > div > a {
    font-size: x-small;
  }
}
